.account-container {
  max-width: 95%;
  min-height: 90vh;
  margin: 20px auto;
  background: #F6EEE0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.account-header {
  text-align: center;
  margin-bottom: 20px;
}

.account-info {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.account-links {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
}

.account-link-group {
  grid-column: span 1;
  display: flex;
  justify-content: space-between;
}

#addrent {
  margin-right: 10px;
}

.account-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d8cec3;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #C38370;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

.account-link:hover {
  background-color: #dcc2bc;
}

.account-info input {
  width: 40%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #faf6f0;
}

.account-info button {
  margin-top: 4px;
  padding: 8px 16px;
  background-color: #db6845;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.account-info button:hover {
  background-color: #cf846e;
}