/* App.css */
/* logo_gohome字型 */
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

.main-container {
  flex-grow: 1;
  margin-left: 200px;
  /* 距離左邊界的距離（留出導覽列） */

}



.sidebar {
  padding: 0px;
  text-align: left;
  background-color: #C38370;
  display: flex;
  flex-direction: column;
  /* 垂直 */
  width: 200px;
  /* 導航列寬度 */
  height: 100vh;
  /* 視窗高度 */
  position: fixed;
  /* 固定位置 */
  left: 0;
  /* 左對齊 */
  top: 0;
  /* 頂部對齊 */

}

.logo-image {
  width: 5%;
  height: auto;
  /* 保持圖片寬高比 */
  /* background-color: #f4f1be; */
  /* margin-bottom: 20px; 如果需要在圖片和連結之間添加間距 */
}

.logo_gohome {
  font-family: "Jacques Francois Shadow", serif;
  font-size: 24px;
  font-weight: 700;
  /* 加粗 */
  color: #e2ab15;
}

.home-links {
  list-style-type: none;
  /* 移除列表點 */
  margin: 0;
  padding: 0;
  display: block;
  /* overflow-x: auto; /* 水平滾動 */
  /* white-space: nowrap; /* 禁止換行 */
  background-color: #f1f1f1;
}

.home-link {
  background-color: #C38370;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: block;


}

.home-link:hover {
  background-color: rgb(255, 225, 206);
  /* 懸停時變淺 */
}

.link-style {
  text-decoration: none;
  display: block;
}

.link-style,
.link-style:link,
.link-style:visited {
  text-decoration: none;
  color: #F6EEE0;
  /* 連結的顏色 */
  transition: color 0.01s ease;
  /* 顏色過渡 */
}

.link-style:hover {
  color: #685751;
  /* 懸停時連結顏色 */
}

/* .logo_gohome:hover{
  color: #F6EEE0;
} */